<div class="container">
    <h1>User Credentials</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Username:</label>

            <div class="controls">
                {{employee.username}}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Password:</label>

            <div class="controls">
                {{employee.password}}
            </div>
        </div>
        <div class="control-group">

        </div>
    </form>
</div>